* {
color: black;
background-color: blue;
}
.header{
  background-color: rebeccapurple;
  position: sticky;
  inset-block-start:  0;
}
.header-content {
position: relative;
}
 header{
  font-size: 10px;
 inset-block: 0;
 position: absolute;
inset-block-start: 0;
inset-inline-start: -150px;
}
h1 {
  margin-left: 250px;
    font-size: 50px;
    margin-block-start: 64px;
    margin-block-end: 16px;
    text-align: center;
}
 h2 {
font-size: 2.5em;
margin-block: 40px;
 }
 h3 {
font-size: 2em;
margin-block: 16px;
 } 
 hr {
margin-block: 40px;
border-color:  black;
 }
 h1 h2 h3 {
  font-weight:normal;
} 
  header a {
    text-decoration: none;
  }
  header a:hover {
color: black;
  }
  details summary {
    color: black;
    font-weight: bold;
    font-size: 25px;
  }
  body {
    /*font-family: system-ui;*/
    font-family: 'Edu SA Beginner', cursive;
  }
  pre {
margin: 20px 20px;
    background: gray;
padding: 48px;
overflow: auto;
border-radius:  8px;;
border: 10px solid black;
box-shadow: -10px 10px 0 0 grey;
}
  .hero {
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    /*background: url("./imagenes/patron-1.png");*/
    height: 350px;
  }
  .section_content img {
margin-block-start: 40px;
  }
  ::selection {
    background-color: red;
  }
 .section_content h3{
    counter-increment:titlelist;
  }
  .section_content h3::before{
    content:"-";
    content: counter(titlelist);
  }

 .section_content h3::after {
content:"";
width: 32px;
height: 4px;
background: black;
display: inline-block;
  }
  blockquote {
background-color: grey;
margin-block-start: 80px;
margin-block-end: 63px;
border-radius: 10px; 
}
p1{ 
  background-color: gray;
}
 .main hr {
  display: none;
 }