body{
  margin: 0;
  background: plum;
}
header{
  width: 188px;
  font-size: 14px;
  top:64px;
}

 header li {
margin-bottom: 16px;
 }
* {
color: black;
/*background-color: plum*/;
}
h1 {
    font-size: 65px;
    margin-top: 64px;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
h1+p{
  margin-bottom: 64px;
}
hr{
  /*background: red;*/
  margin: 64px;
}
  
 h2 {
font-size: 2.5em;
margin: 80px 0 40px 0;
 }
 h3 {
font-size: 2em;
margin-top: 16px;
margin-bottom: 15px;
/*border-bottom: 4px solid;*/
position: sticky;
top: 0;
background: plum;
 }
  header a {
    text-decoration: none;
  }
  
  header a:hover {
color: black;
  }
  nav details summary {
    background: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  
  }
  body {
    /*font-family: system-ui;*/
    font-family: 'Edu SA Beginner', cursive;
  }
  pre {
background-color:darkmagenta;
border: 5px solid black;
padding: 10px;
font-family: 'Edu SA Beginner', cursive;
line-height: 25px;
font-size: 13px;
/*overflow: auto;*/
border-radius:  8px;;
border: 10px solid black;
box-shadow: -9px 9px 0 0 grey;
  }
blockquote {
  font-size: 24px;
  margin: 32px 0; 
  line-height: 24px;
  padding-left: 16px;
  /*border: 10px solid;*/
border-left: 4px solid;
}
blockquote span::before {
content:"-";
}
.form{
  font-size: 0;
}
.header {
  
}

.header-content {
  }
  summary {
    padding-inline: 20px;
  }

.main {
  background: plum;
}
.wrapper{
  width: 502px;
  margin: auto;
}
.main-content{
  background:purple;
  padding: 20px;
}
  .hero {
    background-image:url("../imagenes/patron-1.png");
    block-size: 60px;
  }  
  ::selection {
    background-color: red;
  }
  .section-content {
    margin-top: 164px;
  }
  .section-content:first-of-type {
margin: 0;
  }
  .section-content ul li{
    margin-bottom: 16px;
  }
  .section-content + hr {
display: none;
  }
  .section-content img{
    margin-top: 40px;
    max-inline-size: 100%;
  }
 .section-content h3{
    counter-increment:titlelist;
    padding-bottom: 4px;
  }
  .section-content h3::before{
    content:"-";
    content: counter(titlelist) ". " ;
  }

 .section-content h3::after {
content:"";
width: 20px;
height: 4px;
background: black;
display: inline-block;
position: absolute;
left: 0;
bottom: 0;
  }

.slider-container {
/*block-size: 100px;*/
display: block;
overflow: auto;
scroll-behavior: smooth;
white-space: nowrap;
font-size: 0;
/*border: 5px solid gray;*/
}
.slider-slide h1 {
margin: 0;
/*border: 1px solid white;*/
display: inline-block;
width: 100%;
}
.video {
width: 100%;
height: auto;
aspect-ratio: 30/18;
}
.slider-bullert-list {
/*border: 1px solid #FEC62E;*/
text-align: center;
margin-block-start: 10px;
}
.slider-bullert {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: #FEC62E;
  border-radius: 50%;
}
.form input {
width: 100%;
border: 1px solid black;
background: plum;
box-sizing: border-box;
border-radius: 8px;
padding-inline: 16px;
padding-block: 12px;
color: black;
font-size: 15px;
display: block;
margin-block-end: 24px;
}
.form input[type="submit"] {
  background: blue
}
@media screen and (min-width: 900px) {
  .hero{
    block-size: 350px;
  }
  .header {
    position: sticky;
    inset-block-start: -45px;
  }
  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
    }
    header{
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: -208px;
      inline-size: 188px;
      width: 188px;
    }
}